.contenedor{
    border: 1px solid red;
    height: 0%;
    width: 100%;
}
.cabeza{
    border: 1px solid green;
    height: 6em;
    width: 100%;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}
.logo{
    height: 100%;
    width: 30%;
    border: 1px solid rebeccapurple;
}
.texto{
    height: 100%;
    width: 30%;
    display: flex;
    border: 1px solid rebeccapurple;
}
img{
    max-height: 100%;
    max-width: 70%;
}
.contacto{
    border: 1px solid red;
    height: 100%;
    width: 30%;
    display: flex;
}
.numero{
    display: flex;
}
.redes{
    display: flex;
}
.cuerpo{
    border: 1px solid orange;
    height: 30em;
    width: 100%;
}
.patas{
    border: 1px solid black;
    height: 6em;
    width: 100%;
}